@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    color: rgb(102, 102, 102);
}

body{
    background-image: url(/Obrazy/images.jpg);
}

header{
    display: flex;
    flex-basis: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

header a{
    text-decoration: none;
}

header a h1{
    display: flex;
    /* margin: 0.5vw;
    font-size: 3vw; */
    margin: 1vh;
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
    color: rgb(196, 127, 0);
}

footer{
    display: flex;
    flex-basis: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

footer p{
    display: flex;
    /* margin: 0.25vw;
    font-size: 0.65vw; */
    margin: 0.5vh;
    font-size: 1.3vh;
    color: rgb(196, 127, 0);
}