@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    color: rgb(196, 127, 0);
}

header{
    display: flex;
    flex-basis: 100vw;
    background-color: black;
    justify-content: center;
}

header a{
    text-decoration: none;
}

header a h1{
    display: flex;
    margin: 0.5vw;
    font-family: 'Great Vibes', cursive;
}
